@import 'utilities.css';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: #404258;
    /* height: 800px; */
}
.container{
    max-width: 1152px;
    padding: 0px 15px;
    margin: 0 auto;
    
}
header nav .left a{
    color: white;
    text-decoration: none;
    margin-right: 4rem;
}
header nav .left a:hover{
    color: #F49D1A;
    text-decoration: none;
    margin-right: 4rem;
    transition: all .3s ease;   
}
header nav{
    padding: 2rem 0;
}
header nav .brand{
    margin-right:14rem;
}
.brand{
    color: #F49D1A;
    font-weight: bold;
    font-size: 35px;
    cursor: pointer;
}
.brand img{
    background-color: #F49D1A;
    width: 15%;
    border-radius: 50px;
    border: 1px solid transparent;
    margin: 10px;
}
span{
    letter-spacing: 5px;
}

.right button{
    border-radius: 30px;
    padding: 0.8rem 2rem;
    background-color: #F49D1A;
    color: white;
    font-size: 1rem;  
    cursor: pointer;
}
.right button:hover{
    border-radius: 30px;
    padding: 0.8rem 2rem;
    background-color: #F49D1A;
    color: white;
    cursor: pointer;
    font-size: 1rem;  
    transition: .6s;
    transform: scale(1.5);
}

.hero .lefts h6{
    color: rgb(203, 220, 203);
    font-size: 24px;
    margin-left: 3px;
    /* margin-bottom: 4px; */
}
.hero .lefts h1{
    color: white;
    font-size: 50px;
    /* font-weight: 200; */
    line-height: 3.5rem;
    margin-bottom: 10px;
}
.hero .lefts hr{
    width: 150px;
    size: 10;
    align-items: left;
    border:2px solid #F49D1A;
    
}
.hero .lefts p{
    color: rgb(203, 220, 203);
    margin-top: 10px;
}
.hero .center img {
    width: 375px;
    /* start here */
    /* width: 400px; 
    height: 400px;
     background: radial-gradient(ellipse at center, #222831 0%,#222831 47%,#222831 47%,#222831 47%,#222831 48%);
     border-radius: 50%;
     box-shadow: 10px -10px  rgba(0,0,0,0.6); */
}
.hero .center .circle {
     width: 400px;
    height: 400px;
    background: radial-gradient(ellipse at center, #21213a 0%,#21213a 47%,#21213a 47%,#21213a 47%,#21213a 48%);
    border-radius: 50%;
    
    /* box-shadow: 10px -10px  rgba(0,0,0,0.2); */
}

.hero .rights{
    margin-left: 150px;
    margin-bottom: 150px;
}
.hero .rights h6{
    color: rgb(203, 220, 203);
    font-size: 24px;
    margin-bottom: 10px;
}
.hero .rights p{
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
    margin-bottom: 10px;
}
.hero .rights .show-more span{
    color: #F49D1A;
    cursor: pointer;
    letter-spacing: normal;
}
.hero .rights .icon img{
    width: 30px;
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
    /* padding: -10px; */
    background-color: #F49D1A;
    border: 2px solid #F49D1A;
    
    /* color: #F49D1A; */
}
/* .circle{ */
    /* border-radius: 50%; */
    /* width: 400px; height: 400px; */
  /* background: radial-gradient(ellipse at center,  #50577A 0%,#50577A 47%,#ff0000 47%,#23bc2b 47%,#23bc2b 48%); */
/* } */
.main{
    background-color: #5b5d78;

    /* align-items: center; */ 
    /* justify-content: center; */
    height: 100px;
    width: 900px;
    margin: 0 auto;
    border: 2px solid transparent;
    /* overflow: visible; */
    /* padding-top: 30px; */
}
.main .local{
    width: 200px;
    /* background-color: #21213a; */
    
}
.main .local img{
    background-color: #21213a;
    width: 50px;
    position: relative;
    /* top:10px; */
     margin:30px ; 
     border-radius: 0px;
     cursor: pointer;
     /* box-shadow: 4px 4px 4px #404258; */
}

.main .sp-class{
color: white;
/* background-color: #21213a; */
display: flex;
position: relative;
right: 110px;
letter-spacing: 2px;
/* left: 60px; */
font-size: 20px;
margin-left: 30px;
}
.main #sp1{
    color: white;
    display: flex;
    position: relative;
    left: 30px;
    letter-spacing: 2px;
    font-size: 20px;
}
.services{
    background-color: #21213a;
    height: 700px;
}
.cont-left h1{
    color: white;
    padding-top: 100px; 
    padding-left: 60px;
    font-size: 28px;
    font-weight: 100px;
    /* line-height: 1rem; */
    margin-bottom: 10px;
}
.cont-left p{
    color: rgb(203, 220, 203);
    margin-left: 60px;
    margin-top: 10px;
}
.services .top-left{
    color: #F49D1A;
    margin-top: 250px;
    margin-left: 60px;
    position: absolute;
    display: inline;
    cursor: pointer;
}
.services .left-content{
    color: rgb(203, 220, 203);
    position: absolute;
    margin-left: 60px;
    margin-top: 280px;
}   

.services .top-right{
    color: #F49D1A;
    margin-top: 250px;
    margin-left: 250px;
    display: flex;
    position: absolute;
    cursor: pointer;
}
.services .right-content{
    color: rgb(203, 220, 203);
    position: absolute;
    margin-left: 250px;
    margin-top: 280px;
} 
.services .bottom-left{
    color: #F49D1A;
    margin-left: 60px;
    margin-top: 320px;
    margin-bottom: 60px;
    display: flex;
    position: absolute;
    cursor: pointer;

}
.services .bottomle-content{
    color: rgb(203, 220, 203);
    position: absolute;
    margin-left: 60px;
    margin-top: 350px;
}
.services .bottom-right{
    color: #F49D1A;
    margin-left: 250px;
    margin-top: 320px;
    display: flex;
    position: absolute;
}
.services .bottomri-content{
    color: rgb(203, 220, 203);
    position: absolute;
    margin-left: 250px;
    margin-top: 350px;
}






 
